* text=auto eol=lf
gradlew text eol=lf
*.bat text eol=crlf
*.sh text eol=lf
*.pbxproj text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.mp4 binary
*.mov binary
*.zip binary
